<div class="container">
  <section>
    <p>labs works!</p>
    <h2>{{ welcome }}</h2>
    <li>
      <a href="/home">Home</a>
    </li>
    <ul>
      <li *ngFor="let task of tasks()">
        {{ task }}
      </li>
    </ul>
  </section>
  <hr />
  <section>
    <h2>{{ "Hola ".repeat(4) }}</h2>
    <hr />
    <p>la suma es 3 + 3 es {{ 3 + 3 }}</p>
    <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
  </section>
  <hr />
  <section>
    <img [src]="person().avatar" alt="" />
    <input type="number" [value]="person().age" />
    <button [disabled]="disabled">Click me</button>
    <p>person: {{ person().name }}</p>
    <button (click)="clickHandler()">click me</button>
    <button (dblclick)="clickHandler()">double me</button>
    <p>(change)</p>
    <input
      type="number"
      [value]="person().age"
      (change)="changeHandler($event)"
    />
    <p>(keydown)</p>
    <input
      type="text"
      [value]="person().name"
      (keydown)="keydownHandler($event)"
    />
  </section>
  <hr />
  <ul>
    <p>Total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">{{ i }} {{ task }}</li>
  </ul>
  <section>
    <h1>Signal</h1>
    <input type="text" [value]="name()" (change)="changeHandler($event)" />
    <p>Name: {{ name() }}</p>
  </section>
  <section>
    <div *ngIf="1 === 1">My contend</div>
    <div *ngIf="name() === 'Juanchis'">My contend - Juanchis</div>
    <div *ngIf="person().name === 'Juanchis' && person().age > 18">
      Juanchis , es mayor de 18
    </div>
  </section>
  <section>
    <input type="text" [value]="person().name" (change)="changeName($event)" />
    <div [ngSwitch]="person().name">
      <p *ngSwitchCase="'Juanchis'">yo soy juanchis</p>
      <p *ngSwitchCase="'nicolas'">yo soy nicolas</p>
      <p *ngSwitchCase="'ana'">yo soy ana</p>
      <p *ngSwitchCase="'paco'">yo soy paco</p>
      <p *ngSwitchDefault>yo no soy nadie</p>
    </div>
  </section>
  <section>
    <input type="color" [formControl]="colorCtrl" />
    <p>color: {{ colorCtrl.value }}</p>
    <svg>
      <g>
        <rect
          x="0"
          y="0"
          height="100"
          width="100"
          [attr.fill]="colorCtrl.value"
        />
      </g>
    </svg>
  </section>
  <section>
    <input type="number" [formControl]="widthCtrl" />
    <span class="box" [style.width.px]="widthCtrl.value"></span>
  </section>
  <section>
    <p>
      <input type="text" [formControl]="nameCtrl" /> <br />
      <span
        class="message-error"
        [class.active]="nameCtrl.invalid && nameCtrl.touched"
        >Nombre invalido</span
      >
    </p>
    <p>
      <input type="text" />
    </p>
  </section>
</div>
