* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

h1 {
  text-align: center;
}

li {
  display: flex;
  list-style: none;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  background: #cccc;
  border-radius: 10px;

  .edit {
    outline: none;
    border-radius: 10px;
    padding: 10px;
  }
}

li:hover {
  background: #aaa;
}

.toggle {
  border-radius: 5px;
  padding: 10px;
  width: 50px;
}

.edit {
  outline: none;
  border-radius: 5px;
  padding: 10px;
  border: 0.5px solid #ccc;
}
