<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input class="new-todo" placeholder="Type new todo" autofocus type="text" (change)="changeHandler($event)" />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <pre>
      <code>{{ tasks() | json }}</code>
    </pre>
    <section class="main">
      <ul class="todo-list">
        <li *ngFor="let task of tasks(); index as i" [class.completed]="task.completed">
          <div class="view">
            <input class="toggle" type="checkbox" [checked]="task.completed" (click)="updateTask(i)" />
            <label>{{ task.title }}</label>
            <button class="destroy" (click)="deleteTask(i)"></button>
          </div>
          <input class="edit" value="Learn JavaScript" />
        </li>
        <!-- <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Buy a unicorn</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Buy a unicorn" />
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Make dishes</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Make dishes" />
        </li> -->
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong>{{ tasks().length }}</strong> item </span>
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed">Completed</a>
        </li>
      </ul>
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
